:root {
  /* Primary Colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  /* Font Family */
  --ff-montserrat: 'DM Sans', sans-serif;
  --ff-hanken: 'Hanken Grotesk', sans-serif;
  --ff-fraunces: 'Frances', serif;
  /* Font Weight*/
  --fw-500: 500;
  --fw-700: 700
}

/* body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
} */

body {
  max-width: 1440px;
}

body p {
  font-size: 14px;
}

.container {
  display: flex;
  outline: 2px solid black;
  justify-content: center;
  align-items: center;
}

.container__cards {
  outline: 2px solid black;
  outline: 1;
  display: flex;
  flex-direction: row;
  height: 50%;
}

.container__img img{
  height: auto;
  max-width: 50%;
}


@media (max-width: 375px){

}